<!DOCTYPE  html>
<title>WELCOME TO WEB-SCRAPING</title>
<head>
<style>
body{
  background-color: black;
}
h1{
  font-size:50;
  font-style: italic;
  text-align: center;
  margin-top: 210;
  text-shadow: 12px 12px 5px black;
}
h1:hover {
  font-size:50;
  font-style: ;
  text-align: center;
  margin-top: 210;
    text-shadow: 12px 12px 5px black;
}

font.uk {
  color:white;


}
font.uk:hover {
  color:#FF338C;


}


</style>
</head>

<body>

<font class="uk">
<h1><marquee behavior="alternate">ENTER THE LINK OF WIKIPEDIA PAGE TO SHOW ITS CONTENTS</marquee></h1>
<h2 class="bob"> LINK ADDRESS:</h2>
<form action = "http://127.0.0.1:5000/success" method ="POST">
  <input type="text" name="link" placeholder=LINK >
  <button type="submit">SUBMIT</button>
  <br>
  <br>
    </form>
    <form action = "http://127.0.0.1:5000/lastvisited" method ="POST">
  <button type="submit">Last Visited Error Site</button>
    </form>


</font>
</body>

</html>
